aside::-webkit-scrollbar, body::-webkit-scrollbar, div::-webkit-scrollbar { width: 3px; }
aside::-webkit-scrollbar-track, body::-webkit-scrollbar-track, div::-webkit-scrollbar-track { background: #FAFAFA; border: 1px solid rgba(0,0,0,0.03); border-radius: 4px; } 
aside::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb, div::-webkit-scrollbar-thumb { background-color: #b1b1b1; border-radius: 4px; }

::selection {
    color: white;
    background: #231F20;
}

a.tel {
    border-bottom: 2x solid #a72519;
    border-bottom: 1.5px solid #a72519;
}

.salon-nick101 a.tel {
    border-color: #701e47;    
}

button {
    background: none;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
}

button:focus {
    outline: none !important;
}

/* Custom Top Info Bar */

.info-bar {
    height: 45px;
    overflow: hidden;
    position: relative;
    transition: height 350ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    z-index: 5;
}

.info-bar-msg {
    background: #a72519;
    color: #ffffff;
    cursor: pointer;
    font-size: 0.9rem;
    line-height: 45px;
    min-height: 45px;
}

.salon-nick101 .info-bar-msg {
    background: #701e47;
}
.info-bar-msg .learn-more {
    margin-left: 5px;
}

.info-bar-msg .arrow {
    opacity: 1;
    transition: all 325ms cubic-bezier(0.4, 0, 0.2, 1);
}
.info-bar-msg .arrow.hide {
    opacity: 0;
} 

.info-bar-body {
    background: #ffffff;
    border-bottom: 1px solid #a72519;
    font-size: 0.9rem;
    height: auto;
    width: 100%;
}
.salon-nick101 .info-bar-body {
    border-bottom: 1px solid #701e47;
}

.info-bar-body-bar {  
    background: #fefefe;
    border-bottom: 1px solid #d2d2d2;
    border-bottom: 1px solid rgba(94,98,113,0.2);
    margin-bottom: 15px;
}

.info-bar-body-bar .title { 
    padding: 15px 0 15px 0;
    margin-bottom: 0;
}

.info-bar-body button {
    -webkit-appearance: none;
    color: transparent;
    background: #ffffff;
    border: 1px solid #000000;
    border: 1px solid rgba(0,0,0,0.8);
    border-radius: 2px;
    display: block;
    float: right;
    height: 44px;
    margin: 15px 0;
    outline: none;
    overflow: hidden;
    position: relative;
    width: 44px;
}

.info-bar-body button i {
    background: #000000;
    background: rgba(0,0,0,0.8);
    border-radius: 5px;
    left: 9px;
    height: 2px;
    position: absolute;
    transition: all 0.3s ease;
    width: 24px;
    top: 22px;
    transform: rotate(-45deg);
}
.info-bar-body button i:last-child {
    transform: rotate( 45deg);
}

.info-bar-body li {
    margin-bottom: 0.25rem;
}
.info-bar-body li:before {
    background: #a72519;
    border-radius: 50%;
    content: ' ';
    display: block;
    float: left;
    height: 0.35rem;
    margin-right: 5px;
    margin-top: 0.49rem;
    width: 0.35rem;
}

.salon-nick101 .info-bar-body li:before {
    background: #701e47;
}

/* Navigation Top Bar */
.nav-top {
    background: #fff;
    border-bottom: 1px solid #d2d2d2;
    border-bottom: 1px solid rgba(94,98,113,0.2);
    position: relative;
    z-index: 5;
}
.nav-top a {
    line-height: 45px;
    min-height: 45px;
    min-width: 45px;
}

.nav-top a img {
    margin-top: 6px;
}

.nav-top .lang.active {
    color: #a72519;
    font-weight: 500;
}
.salon-nick101 .nav-top .lang.active {
    color: #701e47;
}

.nav-top .lang,
.nav-top .social {
    color: #5e6271;
    display: block;
    float: left;
    margin: 0;
    position: relative;
    text-align: center;
    width: 44px;
}

.nav-top .social {
    width: 37.5px;
}

.nav-top .social:after {
    background: #5e6271;
    border-radius: 50%;
    color: #fff;
    content: "";
    display: block;
    height: 25px;
    left: 50%;
    width: 25px;
    position: absolute;
    top: 50%;
    -webkit-transition: .3s all;
    transition: .3s all;
    transform: translate(-50% , -50%);
}

.nav-top .social:hover:after{
    background: #a72519;
}
.salon-nick101 .nav-top .social:hover:after{
    background: #701e47;
}

.nav-top .social img.icon {
    left: 50%;
    margin-top: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.nav-top .lang.slash:after {
    color: #5e6271;
    content: "/";
    font-weight: 400;
    padding-left: 15px;
}

.nav-top .info a {
    clear: both;
    float: left;
}

.nav-top p {
    float: left;
    margin-bottom: 0;
    margin-top: 4px;
    opacity: 0;
    transition: all 0.2s ease-in;
    width: 90%;
}
/* .nav-top p:before, .nav-top p::before {
    background: url(../img/svg/clock-p.svg);
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    display: block;
    float: left;
    height: 20px;
    margin-right: 7px;
    margin-top: 6px;
    width: 15px;
} */

@media (min-width:760px)  {
    .nav-top .info a {
        float: right;
    }
}

@media (min-width:992px)  {
    /* .nav-top p {
        line-height: 35px;
    } */
}

/* Navigation */
#sticky-wrapper {
    transition: all 0.5s ease;
}

/* .navbar-wrapper .bkr {
    background: white;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.2);
    height: 100%;
    left: -100%;
    position: absolute;
    top: 0;
    width: 1000%;
    z-index: 90;
} */
/* #tag-div-nav {
    height: 95px;
} */

#tag-nav-seprator {
    width: 100%;
    height: 95px;
}

.navbar-wrapper {
    background: #ffffff;
    -webkit-box-shadow: 0 2px 2px rgba(112, 82, 82, 0.2), 1px 0 1px rgba(112, 82, 82, 0.2);
    box-shadow: 0 2px 2px rgba(112, 82, 82, 0.2), 1px 0 1px rgba(112, 82, 82, 0.2);
    left: 0;
    position: fixed;
    top: 0;
    /* transition:  all 45ms ease; */
    transition:  all 10ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    z-index: 5;
}

.navbar-wrapper.infoBarOpening {
    transition:  all 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Not Used */
/* .navbar-wrapper.sticky {
    top: 0;
} */

/* .navbar-wrapper.fixed {
    left: 0;
    opacity: 1;
    position: fixed;
    top: 0;
    z-index: 6;
} */

.logo,
.navbar-wrapper nav,
#btn-nav {
    position: relative;
    z-index: 91;
}

/* .navbar-wrapper .logo { */
.logo {
    width: 170px;
    height: 95px;
    float: left;
    position: relative;
}

.navbar-wrapper nav {
    clear: both;
    height: 0;
    overflow: hidden;
    /* transition: all 0.5s ease; */
    transition: height 425ms cubic-bezier(0.4, 0, 0.2, 1);
}

nav.open {
    height: 190px;
}

.salon-nick101 nav.open {
    height: 280px;
}

nav li {
    border-bottom: 1px solid #d2d2d2;
}

nav li:last-child {
    border-bottom: 0;
}

nav a {
    box-sizing: border-box;
    color: #000000 !important;
    display: block;
    font-weight: 400;
    letter-spacing: 0.8px;
    line-height: 44px;
    position: relative;
    width: 100%;
}

#btn-nav {
    background: none;
    border: none;
    color: transparent;
    float: right;
    outline: none;
    overflow: hidden;
    position: relative;
    margin: 24px 0;
    -webkit-appearance: none;
}

#btn-nav span {
    background: #ffffff;
    border: 1px solid #000000;
    border: 1px solid rgba(0,0,0,0.8);
    border-radius: 2px;
    display: block;
    height: 44px;
    position: relative;
    width: 44px;
}

#btn-nav span i {
    background: #000000;
    background: rgba(0,0,0,0.8);
    border-radius: 5px;
    left: 9px;
    height: 2px;
    position: absolute;
    top: 15px;
    transition: all 0.3s ease;
    width: 24px;
}

#btn-nav span i:last-child {
    top: 28px;
}

#btn-nav.open i {
    top: 22px;
    transform: rotate(-45deg);
}

#btn-nav.open i:last-child {
    top: 22px;
    transform: rotate(45deg);
}

.navbar-area {
    box-shadow: none !important;
}

.navbar-area .logo img {
    padding: 0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}


@media only screen and (min-width: 1022px) {
    #btn-nav{
        display: none;
    }
    .navbar-wrapper nav {
        clear: none;
        float: right;
        height: auto;
    }

    .navbar-wrapper nav a {
        padding-top: 24px
    }

    .navbar-wrapper nav ul {
        text-align: center;
    }

    .navbar-wrapper nav li {
        border-bottom: none; 
        display: inline-block;
        margin-right: 1rem;
    }

    .navbar-wrapper nav li:last-child {
        margin-right: 0;
    }
    
    .navbar-wrapper nav a:hover {
        color: #a72519 !important;
    }
    
    .salon-nick101 .navbar-wrapper nav a:hover {
        color: #701E47 !important;
    }

    .navbar-wrapper nav li:hover a:before,
    .navbar-wrapper nav li.active a:before,
    .navbar-wrapper nav li a:before {
        /* border-top: 2px solid #701E47;  */
        background: #a72519;
        position: absolute;
        top: 0;
        left: 0;
        color: transparent;
        content: "";
        height: 2px;
        width: 100%;
        visibility: hidden;
        -webkit-transition: .3s;
        transition: .3s;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    
    .salon-nick101 .navbar-wrapper nav li:hover a:before,
    .salon-nick101 .navbar-wrapper nav li.active a:before,
    .salon-nick101 .navbar-wrapper nav li a:before {
        background: #701E47;
    }

    .navbar-wrapper nav li:hover a:before,
    .navbar-wrapper nav li.active a:before {
        visibility: visible;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
